body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

div{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-weight: bold;
}

input[type="button"]{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	border: none;
	outline: none;
	cursor: pointer;
	padding: 1em;
	text-transform: uppercase;
	background-color: rgba(0,0,0,0.8);
	color: white;
	font-weight: bold;
}

input[type="button"]:hover{
	background-color: black;
}

